@mixin browser-prefix($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

@mixin h-divider {
    margin-top:10px;
    margin-bottom:10px;
    height:1px;
    width:100%;
    border:1px solid #f5f5f5;
}