@mixin browser-prefix($property, $value, $prefixes) {
    // @debug $prefixes;
    // background-color: firebrick;
    @each $prefix in $prefixes {
        // @debug $prefix;
        // @if $prefix == "webkit" {
        //     $property: -webkit-#{$value};
        // } 
        // @else if $prefix == "moz" {
        //     $property: -moz-#{$value};
        // } 
        // @else if $prefix == "o" {
        //     $property: -o-#{$value};
        // } 
        // @else if $prefix == "ms" {
        //     $property: -ms-#{$value};
        // } 
        // @else if $prefix == "spec" {
        //     $property: $value;
        // } 
        @if $prefix == "spec" {
            #{$property}: #{$value};
        } 
        @else {
            #{$property}: -#{$prefix}-#{$value};
        }
    }
}

@mixin h-divider {
    margin-top:10px;
    margin-bottom:10px;
    height:1px;
    width:100%;
    border:1px solid #f5f5f5;
}