.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .nav-item {
        margin: 20px;
    }

    .nav-dropdown {
        display: none;
        position: absolute;
        background-color: white;

        ul {
            list-style-type: none;
        }

    }
}

